

@media screen and (min-width : 981px){

    
    /* cyrillic-ext */
    @font-face {
      font-family: 'Roboto', sans-serif;
    }
    
    #featured .info a{
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        line-height: 24px;
    }

}



